@import "variables.styl"

.allcategory 
  position absolute
  right 15px
  top 15px
  display block
  width 21px
  height 18px
  border-radius 4px
  border 1px solid #CCC
  color #CCC
  text-decoration none
  background-position center
  background-repeat no-repeat
  padding 20px
  transition all 300ms linear
  z-index 4

  cursor url(/images/pointer.cur),pointer

  i
    color #CCC
    transition all 300ms linear
    .fa .fa-rocket
      font-size 1.1em
    position absolute
    top 12px
    left 11.5px
    &:hover
      cursor url(/images/pointer.cur),pointer

  &:hover
    border 1px solid red
    cursor url(/images/pointer.cur),pointer
    i
      color red

.search 
  right 65px
  i
    left 12px
    top 11px

.expand-left
  padding-right 300px
  cursor default
  &:hover
    border 1px solid #CCC
    cursor url(/images/pointer.cur),pointer
    i
      color #CCC


@media screen and (max-width: 960px) {
  #returnTop {
    position: fixed;
    right: 9px;
  }
}