<!--<div id="container"></div>

<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">

<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
//var gitment = new Gitment({
//   id: '<%- item.id %>',
//   owner: 'objchris',
//   repo: 'testGitment',
//   oauth: {
//     client_id: 'f0f51ce99c6a9e1537f5',
//     client_secret: 'a8e1135e9756220826b2290f670bb269f43566d3',
//   },
// })
// gitment.render('container')
</script>
-->